<%-include('header')%>
<form method="POST" action="/form" class="ms-3 mt-3">
    <label>First name:</label>
    <input type="text" name="first_name"> <br>
    <label>Last name:</label>
    <input type="text" name="last_name"><br>
    <label>Full name:</label>
    <input type="text" name="full_name"><br>
    <label>Username:</label>
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="password" name="password"><br>
    <label>Email:</label>
    <input type="email" name="email"><br>
    <label>Address:</label>
    <input type="text" name="address"><br>
    <button class="btn btn-primary btn-md">Sign Up</button>
</form>

<%-include('footer')%>